<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">
<head>
<title th:text="${viewName}"></title>
<link th:href="@{/css/activity/salesActivity.css}" rel="stylesheet" />
<link th:href="@{/webjars/flatpickr/4.5.7/dist/flatpickr.min.css}" rel="stylesheet" />
<script th:src="@{/webjars/flatpickr/4.5.7/dist/flatpickr.min.js}"></script>
<script th:src="@{/webjars/flatpickr/4.5.7/dist/l10n/ja.js}"></script>
<script th:src="@{/js/activity/salesActivity.js}"></script>
</head>
<body>

    </div>
  </body>
  </html>